// ===================================================
// Media Module
// ===================================================


// 1. Basic Media
// 2. Featured Media
// 3. Card Media


// Basic Media
// ===================================================
.media {
  position: relative;
}

.media__body {
  @include border;

  border-top: 0;
  padding: $baseline*2 $baseline*2 0;
  transition: border-color $timing $easing;
}

.media__heading {
  position: relative;
  z-index: 2;
}

.media__title__link {
  display: block;
  color: #FFF;
  background-color: $brand-orange;
  padding: $baseline $baseline*3;
  text-align: center;

  @include breakpoint( $bp5 ) {
    display: inline-block;
    text-align: left;
    padding: $baseline $baseline*4;
    margin-bottom: $baseline*2;
  }
}

.media__image {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  img {
    width: 100%;
    transition: transform $timing $easing;
  }
}

.title--overlay {
  @extend %overlay--position;
  display: inline;
  clear: left;
  margin-left: $outline-width;
  margin-right: $outline-width;
  line-height: normal;
  margin-bottom: ($outline-width*2) + $baseline/2;

  a, p {
    color: #FFF;
    @include inline-text-padding;
  }
}


// Featured Media
// ===================================================

.media--featured {

  .media__heading {
    padding-top: $baseline*2;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .media__title {
    padding-top: $outline-width;
  }

  .media__title__link {
    padding: 0;
  }

  .media__heading {
    padding-left: $baseline*2;
    padding-right: $baseline*2;
    min-height: 300px;

    @include breakpoint( $bp5 ) {
      max-width: 70%;
    }

    @include breakpoint( $bp6 ) {
      min-height: 375px;
      max-width: 55%;
    }
  }

  .media__image {
    height: 450px;
    left: 50%;
    margin-left: -300px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width:600px;
    z-index: 1;

    @include breakpoint( $bp3 ) {
      height: 550px;
      margin-left: -400px;
      width:800px;
    }

    @include breakpoint( $bp4 ) {
      top: -62px;
      width:1200px;
      margin-left: -600px;
    }
  }

  .post-categories {
    margin-bottom: $baseline*1.5;
  }

  .post-categories + .media__title {
    padding-top: 0;
  }

}


// Card Media
// ===================================================
.media--card {
  margin-bottom: $baseline*2;
  position: relative;

  .media__image {
    border-radius: $radius-top;
    position: relative;
    overflow: hidden;
  }

  .media__heading {
    @include fill;
    padding-top: $baseline*2;
  }

  .media__body {
    border-radius: $radius-bottom;

    @include breakpoint( $bp3 ) {
      height: 200px;
      overflow: hidden;
    }
  }

  .post-categories {
    padding: 0 $baseline*2 $baseline/2;
  }

  .media__title,
  .media__subtitle, {
    margin: $baseline $baseline*3;
  }
}

.js .media--card:hover,
.js .media--card:focus {
  cursor: pointer;

  .media__image img {
    transform: scale(1.1);
  }

  .media__body {
    border-color: #CCC;
    border-color: rgba(0,0,0,0.25);
  }
}
