.toolbar {
  @include clearfix;
  background-color: #FFF;
  border-left: 1px solid #EEE;
  border-right: 1px solid #EEE;
  padding: $baseline*4;
}

.toolbar__actions {
  @extend %unstyled;
  float: right;
}

.toolbar__item,
.toolbar__item.show-with-js {
  display: inline-block;
}

.toolbar__count {
  float: left;
}
