// ===================================================
// Form Module
// ===================================================

.form--filters {
  background-color: #444;
  padding: $baseline*4;
}

.form__label {
  color: #FFF;
}

.form__row--search,
.form__row--location,
.form__row--type,
.form__row--sort {
  @extend .form__row !optional;
}

.view-map {
  .form__row--sort {
    display: none;
  }
}
