// ===================================================
// Media Module
// ===================================================


// 1. Basic Media
// 2. Featured Media
// 3. Card Media
// 4. List Media


// Basic Media
// ===================================================
.media {
  @include clearfix;
  position: relative;
}

.media__body {
  @include border;

  border-top: 0;
  padding: $baseline*2 $baseline*2 0;
  transition: border-color $timing $easing;
}

.media__heading {
  position: relative;
  z-index: 2;
  padding: $baseline*2 $baseline*2 0;
}

.media__title__link {
  display: block;
  color: #FFF;
  background-color: $brand-orange;
  padding: $baseline $baseline*3;
  text-align: center;

  @include breakpoint( $bp5 ) {
    display: inline-block;
    text-align: left;
    padding: $baseline $baseline*4;
    margin-bottom: $baseline*2;
  }
}

.media__image {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  img {
    width: 100%;
    transition: transform $timing $easing;
  }
}

.media__link--left {
  float: left;
  margin-right: $baseline;
}

.media__title {
  margin-bottom: $baseline;
}
.media__title a {
  color: $heading-color;
}

.media__footer {
  @include clearfix;
}

.title--overlay {
  @extend %overlay--position;
  display: inline;
  clear: left;
  margin-left: $outline-width;
  margin-right: $outline-width;
  line-height: normal;
  margin-bottom: ($outline-width*2) + $baseline/2;

  a, p {
    color: #FFF;
    @include inline-text-padding;
  }
}


// Featured Media
// ===================================================

.media--featured {

  .media__title {
    padding-top: $outline-width;
  }

  .media__title__link {
    padding: 0;
  }

  .media__heading {
    padding-top: $baseline*2 $baseline*2 0;
    margin-bottom: 0;
    min-height: 300px;

    @include breakpoint( $bp5 ) {
      max-width: 70%;
    }

    @include breakpoint( $bp6 ) {
      min-height: 362px;
      max-width: 55%;
    }
  }

  .media__image {
    height: 450px;
    left: 50%;
    margin-left: -300px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width:600px;
    z-index: 1;

    @include breakpoint( $bp3 ) {
      height: 550px;
      margin-left: -400px;
      width:800px;
    }

    @include breakpoint( $bp4 ) {
      top: -62px;
      width:1200px;
      margin-left: -600px;
    }
  }

  .post-categories {
    margin-bottom: $baseline*1.5;
  }

  .post-categories + .media__title {
    padding-top: 0;
  }

}


// Card Media
// ===================================================
.media--card {
  @include shadow;
  border-radius: $radius-base;
  margin-bottom: $baseline;
  position: relative;

  @include breakpoint( $bp3 ) {
    margin-bottom: $baseline*2;
  }

  .media__image {
    border-radius: $radius-base;
    position: relative;
    overflow: hidden;
  }

  .media__image--top {
    border-radius: $radius-top;
  }

  .media__heading {
    @include fill;
    padding-top: $baseline*2;
  }

  .media__body {
    border-radius: $radius-bottom;
    padding-bottom: $baseline*2;

    @include breakpoint( $bp3 ) {
      height: 200px;
      overflow: hidden;
    }
  }

  .post-categories {
    padding: 0 $baseline*2 $baseline/2;
  }

  .media__title,
  .media__subtitle, {
    margin: $baseline $baseline*3;
  }
}

.js .pseudo-link:hover,
.js .pseudo-link:focus {
  cursor: pointer;
  border-color: #CCC;
  border-color: rgba(0,0,0,0.25);

  .has-logo .media__link--logo,
  .media__body {
    border-color: #CCC;
    border-color: rgba(0,0,0,0.25);
  }

  .media__image img {
    transform: scale(1.1);
  }
}


// List Media
// ===================================================
.media--list {
  @extend %unstyled;

  .media {
    @include shadow;
    @include border;
    border-radius: $radius-base;
    background-color: #FFF;
    margin-left: $baseline;
    margin-right: $baseline;
    margin-bottom: $baseline;

    @include breakpoint( $bp3 ) {
      &.last-visible {
        margin-bottom: 0;
      }
    }

    @include breakpoint( $bp5 ) {
      margin-bottom: $baseline*2;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .media__footer .btn {
    @extend %sr-only;
    margin-bottom: $baseline*2;
  }

  .has-logo {
    min-height: 170px;

    .media__body {
      margin-top: 180px;
      border: 0;
      padding-bottom: $baseline*2;
    }

    .media__heading,
    .media__footer,
    .media__body {
      @include breakpoint( $bp3 ) {
        margin-top: 0;
        margin-left: 180px;
      }
    }

    .media__link--logo {
      @include border('-bottom');
      width: 100%;
      background-color: #FFF;
      border-radius: $radius-top;
      display: block;
      left: 0;
      top: 0;
      height: 180px;
      position: absolute;

      @include breakpoint( $bp3 ) {
        @include border;
        border-radius: $radius-left;
        top: -1px;
        left: -1px;
        bottom: -1px;
        width: 181px;
        height: auto;
      }
    }

    .media__logo {
      max-width: 150px;
      position: absolute;
      top: 50%;
      left: 50%;
      // margins are added dynamically
    }

  }

  .has-featured {
    overflow: hidden;

    .media__logo {
      @extend .thumb;
      margin: $baseline;
    }

    .media__body {
      overflow: hidden;
      border: 0;
      padding-left: 0;
      padding-bottom: $baseline*2; 
    }

  }

  .media__heading + .media__body {
    padding-top: 0;
  }

  .media__date {
    @extend %sr-only;
  }

  .media__footer {
    padding-left: $baseline*2;
  }

}

.canvas {
  .has-logo .media__link--logo {
    opacity: 0;
    transition: opacity $timing $easing;
  }
  .loaded .has-logo .media__link--logo {
    opacity: 1;
  }
}
