// ===================================================
// Media Module
// ===================================================


// 1. Basic Media
// 2. Featured Media
// 3. Card Media
// 4. List Media


// Basic Media
// ===================================================
.media {
  @include clearfix;
  position: relative;
  display: block;
  background-color: #FFF;
  background-clip: padding-box;
}


.media__link {
  color: inherit;
  display: block;
}

.media__body {
  display: block; // For anchors
  border-top: 0;
  padding: $baseline*2 $baseline*2 0;
  transition: border-color $timing $easing;

  p {
    color: $body-copy-color;
  }
}

.media__heading {
  display: block; // For anchors
  position: relative;
  z-index: 2;
  padding: $baseline*2 $baseline*2 0;
}

.media__title__link {
  display: block;
  color: #FFF;
  background-color: $brand-orange;
  padding: $baseline $baseline*3;
  text-align: center;

  @include breakpoint( $bp5 ) {
    display: inline-block;
    text-align: left;
    padding: $baseline $baseline*4;
    margin-bottom: $baseline*2;
  }
}

.media__image {
  display: block; // For anchors
  img {
    width: 100%;
  }
}

.media__link--left {
  float: left;
  margin-right: $baseline;
}

.media__title {
  color: $heading-color;
  margin-bottom: $baseline;
}
.media__title a {
  color: $heading-color;
}

.media__footer {
  background: #FFF;
  @include clearfix;
}

.title--overlay {
  @extend %overlay--position;
  display: inline;
  clear: left;
  margin-left: $outline-width;
  margin-right: $outline-width;
  line-height: normal;
  margin-bottom: ($outline-width*2) + $baseline/2;

  .media__title__link {
    padding: 0;
  }

  > span, a, p {
    color: #FFF;
    @include inline-text-padding;
  }
}

// Gallery Media
// ===================================================

.media--gallery {
  background: none;

  @include breakpoint( $bp6 ) {
    width: 1200px;
    margin-left: -60px;
    margin-top: -62px;
  }

  .media__heading {
    @include clearfix;
    background-color: #FFF;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-top: -10px;

    @include breakpoint( $bp3 ) {
      background: none;
      position: absolute;
      top: $baseline*4;
      left: $baseline*2;
      right: $baseline*2;
      padding: 0;
    }

    @include breakpoint( $bp6 ) {
      top: $baseline*10;
      left: $baseline*8;
      right: $baseline*8;
    }
  }

  .media__title {
    @include breakpoint( $bp5 ) {
      max-width: 70%;
    }

    @include breakpoint( $bp6 ) {
      max-width: 55%;
    }
  }

}


// Featured Media
// ===================================================

.media--featured {
  background: none;

  .media__title {
    padding-top: $outline-width;

    @include breakpoint( $bp5 ) {
      max-width: 70%;
    }

    @include breakpoint( $bp6 ) {
      max-width: 55%;
    }
  }

  .media__title__link {
    padding: 0;
  }

  .media__heading {
    padding: $baseline*2 $baseline*2 0;
    margin-bottom: 0;
    min-height: 300px;

    @include breakpoint( $bp6 ) {
      min-height: 400px;
    }
  }

  .media__image {
    height: 450px;
    left: 50%;
    margin-left: -300px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width:600px;
    z-index: 1;

    @include breakpoint( $bp3 ) {
      height: 550px;
      margin-left: -400px;
      width:800px;
    }

    @include breakpoint( $bp4 ) {
      top: -62px;
      width:1200px;
      margin-left: -600px;
    }
  }

  .post-categories {
    margin-bottom: $baseline*1.5;
  }

  .post-categories + .media__title {
    padding-top: 0;
  }

}


// Card Media
// ===================================================
.media--card {
  @include shadow;
  border-radius: $radius-base;
  margin-bottom: $baseline;
  position: relative;

  @include breakpoint( $bp3 ) {
    margin-bottom: $baseline*2;
  }

  .media__image {
    display: block;
    border-radius: $radius-base;
    position: relative;
    overflow: hidden;
    background-color: #000;
  }

  .media__image--top {
    border-radius: $radius-top;
  }

  .media__heading {
    position: absolute;
    top: 0;
    left: 0;

    &.has-category {
      top: $baseline*4;
    }
  }

  .media__body {
    @include border;
    border-radius: $radius-bottom;
    padding-bottom: $baseline*2;

    @include breakpoint( $bp3 ) {
      height: 133px;
      overflow: hidden;
    }

    @include breakpoint( $bp5 ) {
      height: 155px;
    }
  }

  .post-categories {
    position: absolute;
    top: $baseline*2;
    left: $baseline*2;
    z-index: 2;
  }

  .media__title,
  .media__subtitle, {
    margin: $baseline;
    max-width: 100%;
  }
}

.no-touch .media--card .media__image img {
  opacity: 0.9;
}


// List Media
// ===================================================
.media--list {
  @extend %unstyled;

  li {
    position: relative;
  }

  .media {
    @include shadow;
    @include border;
    border-radius: $radius-base;
    margin-left: $baseline;
    margin-right: $baseline;
    margin-bottom: $baseline;

    &:hover,
    &:focus {
      background-color: #F8F8F8;
    }

    @include breakpoint( $bp3 ) {
      &.last-visible {
        margin-bottom: 0;
      }
    }

    @include breakpoint( $bp5 ) {
      margin-bottom: $baseline*2;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .media__body {
    padding-bottom: $baseline*2;
  }

  .media__date,
  time {
    display: none !important; // Doesn't need to be read by screenreaders
  }

  .media__footer {
    .no-js & {
      padding-top: $baseline*2;
      @include border('-top');
    }

    .btn {
      margin-bottom: $baseline*2;
    }
  }

  .has-logo {
    min-height: 170px;

    .media__heading {
      margin-top: 180px;
    }

    .media__body {
      border: 0;
      // padding-bottom: $baseline*2;
    }

    .media__heading,
    .media__footer,
    .media__body {
      overflow: hidden;

      @include breakpoint( $bp3 ) {
        margin-top: 0;
        margin-left: 180px;
      }
    }

    .media__logo-container {
      position: relative;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      height: 180px;
      position: absolute;
      border-radius: $radius-top;

      @include breakpoint( $bp3 ) {
        border-radius: $radius-left;
        right: auto;
        width: 181px;
        height: auto;
      }
    }

    .media__link--logo {
      @include fill;
      background: #FFF;
      margin-right: 0;
      display: block;
      border-radius: $radius-top;

      @include breakpoint( $bp3 ) {
        border-radius: $radius-left;
      }

      .no-js & {
        border: 1px solid #CCC;
      }
    }

    .media__logo {
      max-width: 150px;
      max-height: 150px;
      position: absolute;
      top: 50%;
      left: 50%;
      // margins are added dynamically
    }

  }

  .has-featured {
    overflow: hidden;

    .media__link--left {
      overflow: hidden;
      float: none;
      display: block;
      margin: 0 auto;

      @include breakpoint( $bp3 ) {
        float: left;
      }
    }

    .media__logo {
      @extend .thumb;
      margin: $baseline*2 $baseline*2 0;

      @include breakpoint( $bp3 ) {
        margin-bottom: $baseline*2;
      }
    }

    .media__link--logo {
      &:hover,
      &:focus {
        background-color: #F8F8F8;
      }
    }

    .media__body {
      overflow: hidden;
      border: 0;
      padding-left: $baseline*2;
      // padding-bottom: $baseline*2;

      @include breakpoint( $bp5 ) {
        padding-left: 0;
      }
    }

  }

  .media__heading + .media__body {
    padding-top: 0;
  }

  .media__footer {
    padding-left: $baseline*2;
    padding-right: $baseline*2;
    border-radius: 0 0 $radius-base 0;
  }

}

.post-type-archive-product {
  .media--list {
    .media__body {
      min-height: 104px;
    }
  }
}

.mustard {
  .media__footer {
    @include border('-top');
  }

  .media--list .tags {
    margin-top: $baseline*2;
  }

  .media__link--container {
    display: block;
    // margin-top: -2px;

    @include breakpoint( $bp3 ) {
      margin-top: 0;
    }
  }

  .has-featured {

    .media__logo-container {
      position: relative;
      z-index: 2;
    }

    .media__body {
      @include breakpoint( $bp5 ) {
        padding-left: $baseline*2;
      }
    }

    .media__link--container {
      @include breakpoint( $bp5 ) {
        min-height: 212px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        padding-left: 191px;
        z-index:1;
      }
    }
  }

  .media--single {
    background-clip: border-box;
  }

  .media {

    &:hover,
    &:focus {
      // border-radius: $radius-right;
      img {
        opacity: 1;
      }
    }
  }
}

.js .media__footer .btn {
  @extend %sr-only;
}

.canvas {

  .has-logo .media__link--logo {
    border: 1px solid #C2C8D0;
    transition: background-color $timing $easing;

    img {
      opacity: 0;
      transition: opacity $timing $easing;
    }
  }

  .color-attained .has-logo {
    .media__link--logo {
      @include border;
      img {
        opacity: 1;
      }
    }
  }
}
