%overlay--primary {
  background-color: $brand-orange;
  color: #FFF;
}

%overlay--secondary {
  background-color: #000;
  background-color: rgba(0,0,0,0.75);
  color: #FFF;
}

%overlay--position {
  display: block;
  float: left;
  padding: $baseline/2 $baseline;
  margin-bottom: $baseline/2;
}

.hero {
  position: relative;
  margin-bottom: $baseline*2;
}

.hero--home {

  .hero__image {
    margin-left: auto;
    margin-right: auto;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;

    @include breakpoint( $bp5 ) {
      margin-top: -90px;
      padding-top: 90px;
      height: 590px;
    }
  }

}

.hero__body {
  @include span(12);

  @include breakpoint( $bp5 ) {
    margin-top: $baseline*3;
  }
}

.hero__title {
  clear: left;
  @extend %overlay--primary;
  @extend %overlay--position;
}

.hero__subtitle {
  clear: left;
  @extend %overlay--primary;
  @extend %overlay--position;
}

.hero__link--title {
  color: inherit;
}
