.toolbar {
  @include clearfix;
  @include shadow;

  background-clip: padding-box;
  background-color: #FFF;
  margin-bottom: $baseline;
  position: relative;
  z-index: 2;

  @include breakpoint( $bp5 ) {
    margin-bottom: 0;
  }

  @include breakpoint( $bp5 ) {
    @include border('-bottom');
    @include border('-left');
    @include border('-right');

    border-radius: $radius-bottom;
  }

  @include breakpoint( $bp5 $bp5-max) {
    margin-bottom: $baseline*2;
  }

  @include breakpoint( $middle ) {
    padding: $baseline $baseline*2;
  }

  .form__label {
    color: $body-copy-color;
  }

  .form__control {
    @include border;
  }

}

.view-map .toolbar {
  margin-bottom: 0;

  @include breakpoint( $bp6 ) {
    margin-bottom: $baseline*2;
  }
}

.toolbar__action {
  @include clearfix;
  @include border('-top');
  @extend %unstyled;

  padding: $baseline*1.5 $baseline*2 !important; // Can't trace inheritance

  @include breakpoint( $middle ) {
    border-top: 0;
  }

  .form__label {
    margin-bottom: 0;
  }

}

.view-map .toolbar__action--sort {
  display: none;
}

.col-toolbar {

  &:first-child {
    .toolbar__action {
      border: 0;
    }
  }

  &.col-sm-auto {
    @include breakpoint( $middle ) {
      float: right;
    }

    &:last-child {
      @include breakpoint( $middle ) {
        float: left;
      }
    }

    .toolbar__action {
      @include breakpoint( $middle ) {
        padding: 0 !important; // Can't trace ingeritance
      }
    }
  }

}

.toolbar__action--sort {
  @include breakpoint( $middle ) {
    width: 230px;
  }
}

.toolbar__action--count {
  background-color: #F2F2F2;

  @include breakpoint( $middle ) {
    background-color: #FFF;
  }

  @include breakpoint( $bp6 ) {
    border-radius: $radius-bottom;
  }

  .form__label {
    line-height: 34px;

    @include breakpoint( $middle ) {
      float: left;
      background-color: #FFF;
    }
  }
}
