.card {
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 3px;
  position: relative;
  margin-bottom: $baseline*2;

  @include breakpoint( $bp4 ) {
    height: 500px;
    overflow: hidden;
  }
}

.card__image img {
  max-width: 100%;
  display: block;
}

.card__heading {
  position: absolute;
  top: $baseline;
  left: $baseline;
  z-index: 2;
}

.card__body {
  padding: $baseline*2;
}
