%overlay-background {
  background-color: #333;
  background-color: rgba(0,0,0,0.8);
}

.hero {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 32%;

  .hero__image {
    position: absolute;
    top: -15%;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.hero--spaced {
  @extend .hero;
  margin-bottom: $baseline*2;
}

.hero__link--image {
  display: block;
}

.hero__overlay {
  @extend %overlay-background;
  position: absolute;
  bottom: $baseline*4;
  left: $baseline*4;
}

.hero__title {
  color: #FFF;
  display: inline-block;
  padding: $baseline $baseline*2
}

.hero__link--title {
  color: inherit;
}
