.card {
  background-color: #FFF;
  border-radius: 3px;
  position: relative;
  margin-bottom: $baseline*2;
}

.card__image img {
  max-width: 100%;
  display: block;
}

.card__heading {
  position: absolute;
  top: $baseline;
  left: $baseline;
  right: $baseline;
  z-index: 2;
}

.card__title {
  @extend %overlay--primary;
  @extend %overlay--position;
}

.card__body {
  padding: $baseline*2;
  border: 1px solid #DDD;
  border-top: 0;

  @include breakpoint( $bp5 ) {
    height: 300px;
    overflow: hidden;
  }
}
