%overlay--primary {
  background-color: $brand-orange;
  color: #FFF;
}

%overlay--secondary {
  background-color: #000;
  background-color: rgba(0,0,0,0.75);
  color: #FFF;
}

%overlay--position {
  display: block;
  float: left;
  padding: $baseline/2 $baseline;
  margin-bottom: $baseline/2;
  position: relative;
  z-index: 3;
}

.hero {
  position: relative;
  margin-bottom: $baseline*2;
}

.hero--home {

  .hero__image {
    position: absolute;
    z-index: 1;

    a {
      display: block;
    }

    @include breakpoint( $bp5 ) {
      margin-top: -90px;
    }
  }

}

.hero__body {
  @include span(12);
  min-height: 400px;
  position: relative;
  z-index: 2;

  @include breakpoint( $bp5 ) {
    padding-top: $baseline*3;
    min-height: 500px;
  }
}

.hero__overlay-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  span {
    @extend %sr-only;
  }
}

.hero__title {
  a {
    clear: left;
    @extend %overlay--primary;
    @extend %overlay--position;
  }
}

.hero__subtitle {
  clear: left;
  @extend %overlay--primary;
  @extend %overlay--position;
}

.hero__link--title {
  color: inherit;
}
