.alert {
  @include clearfix;
  @include shadow;
  @include border('-top');

  position: relative;
  padding: $baseline*2;
  background-clip: padding-box;



  @include breakpoint( $bp3 ) {
    @include border;
    margin-top: auto;
    margin-left: $baseline;
    margin-right: $baseline;
  }

  @include breakpoint( $bp5 ) {
    border-radius: $radius-base;
    margin: 0 auto $baseline*2 auto;
  }

  i {
    float: left;
  }
}

.alert--warning {
  background-color: $warning-bg;
  color: $warning-color;

  a {
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: #000;
    }
  }
}
