:target {
  -webkit-animation:yellow-fade 3s;
     -moz-animation:yellow-fade 3s;
          animation:yellow-fade 3s;
}

@-webkit-keyframes yellow-fade{
  5% {
    background-color: $warning-bg;
  }
}

@-moz-keyframes yellow-fade{
  5% {
    background-color: $warning-bg;
  }
}

@keyframes yellow-fade{
  5% {
    background-color: $warning-bg;
  }
}
