// ===================================================
// Media Module
// ===================================================


// 1. Basic Button
// 2. Colour Modifiers
// 3. State Modifiers
// 4. Type Modifiers
// 5. Grouping


// Basic Button
// ===================================================
.btn {
  @include shadow;
  border: 1px transparent;
  display: inline-block;
  padding: $baseline/2 $baseline;
  border-radius: $radius-base;
  text-align: center;
  background-clip: padding-box;
  font-size: 16px;

  &:active {
    @extend %insetshadow;
  }

  &:hover,
  &:focus {
    text-decoration: none !important;
  }
}


// Colour modifiers
// ===================================================
.btn--default {
  @include border;

  background-color: #FFF;
  color: $body-copy-color;

  &:hover,
  &:focus {
    background-color: #F8F8F8;
  }

  &:active,
  &.btn--active {
    background-color: #F2F2F2;
    color: #000;
  }
}


.btn--primary {
  background-color: $brand-blue;
  color: #FFF;
  border: 1px solid darken( $brand-blue, 20% );

  &:hover,
  &:focus {
    background-color: lighten( $brand-blue, 5% );
  }
}


.btn--secondary {
  background-color: $brand-orange;
  color: #FFF;
}


// State Modifiers
// ===================================================
.btn--active {
  font-weight: bold;
}


// Type modifiers
// ===================================================
.btn--icon-only {
  .btn__text {
    @extend %sr-only;
  }
  .icon--after,
  .icon--before {
    padding: 0;
  }
}

.btn--lg {
  padding: $baseline $baseline*2;
}

.btn--control {
  padding: 3px $baseline $baseline/2;
}


// Grouping
// ===================================================
.btn-group {
  @include clearfix;
  @include border;
  display: block;
  border-radius: $radius-base;
  float: left;

  @include breakpoint( $middle ) {
    float: none;
  }

  .btn {
    display: block;
    float: left;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 0;

    &:first-child {
      border-left: 0;
      border-radius: $radius-left;
    }

    &:last-child,
    &.btn--last-visible {
      border-radius: $radius-right;
    }
  }
}

.btn-group--inline {
  display: inline-block;
}
