// ===================================================
// Form Module
// ===================================================


fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;
}

textarea {
  resize:vertical;
  min-height: 200px;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  line-height: inherit;
  border: 0;
}

label {
  display: inline-block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  margin-bottom: 5px;
  font-weight: bold;
}


// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  box-sizing: border-box;
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

// Set the height of file controls to match text inputs
input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

.js select {
  visibility: hidden;
}

input[type="search"] {
  -webkit-appearance: none;
}

.affix {
  @include breakpoint( $affix ) {
    top: 0;
    padding-top: $baseline*2;
    position: fixed;
    width: 255px;
    z-index: 2;
  }
}

.affix-bottom {
  @include breakpoint( $affix ) {
    padding-top: $baseline*2;
    position: fixed;
    width: 255px;
    z-index: 2;
  }
}

.admin-bar {
  .affix {
    @include breakpoint( $affix ) {
      padding-top: $baseline*5 +2px;
    }
  }
  .affix-bottom {
    @include breakpoint( $affix ) {
      padding-top: $baseline*5 +2px;
    }
  }
}

// Custom styles
.form--filters {
  @include clearfix;

  background-color: $brand-orange;
  padding: $baseline*2;
  position: relative;
  z-index: 3;

  @include breakpoint( $bp5 ) {
    @include border('-left');
    @include border('-right');
    @include border('-top');
    border-radius: $radius-top;
  }
}

.form__control {
  @include border;
  border-radius: $radius-base;
  outline: 0;
  display: block;
  width: 100%;
  height: 34px;
  padding: $baseline/2 $baseline;
  background-image: none;
  background-clip: padding-box;
}

select.form__control {
  @include shadow;
}

.form__control--inset {
  @extend %insetshadow;
}

.form__label {
  color: #FFF;
  display: inline-block;
}

.form__row--inline {

  .chosen-container {
    @include breakpoint( $middle ) {
      width: 50%;
    }
  }

  .chosen-container.chosen-with-drop .chosen-drop {
    @include breakpoint( $middle ) {
      width: 50%;
      left: 50%;
    }
  }

  .form__label {
    @include breakpoint( $middle ) {
      line-height: 35px;
      padding-right: $baseline;
      margin-bottom: 0;
    }
  }

  .form__label,
  .form__control {
    @include breakpoint( $middle ) {
      width: 50%;
      float: left;
      display: block;
    }
  }
}

.form__row {}

.view-map {
  .form__row--sort {
    display: none;
  }
}

.form__group {
  margin-bottom: $baseline*1.5;
}
