.container {
  @include container-fixed();
  max-width: $max-width;
}

@include make-grid-columns();

.row {
  @include make-row();
}

@include make-grid(xs);

@media (min-width: $bp3) {
  @include make-grid(sm);
}

@media (min-width: $bp5) {
  @include make-grid(md);
}

@media (min-width: $bp6) {
  @include make-grid(lg);
}

// Hide elements to fit the grid
@media (min-width: $bp3) {
  .row .last {
    display: none;
  }
}

@media (min-width: $bp5) {
  .row .last {
    display: block;
  }
}
