// ===================================================
// Helpers
// ===================================================


// 1. Extenders
// 2. JavaScript Helpers
// 3. Positional Helpers


// Extenders
// ===================================================
%sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

%unstyled {
  list-style: none;
  padding:0;
}

%menuhover {
  &:hover,
  &:focus {
    background-color: lighten($brand-orange, 40%);
  }
}

%btnshadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

%insetshadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset;
}

%textshadow {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

%overlay--secondary {
  background-color: #000;
  background-color: rgba(0,0,0,0.75);
  color: #FFF;
}

%overlay--position {
  display: block;
  float: left;
  position: relative;
  z-index: 3;
}


// JavaScript Helpers
// ===================================================
.js .hide-with-js {
  display: none;
}

.show-with-js {
  display: none;
}

.js .show-with-js {
  display: block;
}


// Positional Helpers
// ===================================================
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}
