.slider {
  @extend %unstyled;

  img {
    width: 100%; // Ensure the image is full width
  }

  .owl-controls .owl-buttons {
    div {
      color: #000;
      background: #FFF;
      position: absolute;
      top: 50%;
      margin-top: -19px;
      text-transform: uppercase;
      font-weight: bold;
      padding: $baseline;
    }

    .owl-next {
      right: 0;
      border-radius: $radius-left;
      margin-right: 0;
    }

    .owl-prev {
      left: 0;
      border-radius: $radius-right;
      margin-left: 0;
    }
  }

  .owl-controls .owl-page span {
    background: #FFF;
  }

  .owl-pagination {
    margin-top: -40px;
    position: relative;
    top: -10px;
  }

  .grabbing {
      cursor:url(images/grabbing.png) 8 8, move;
  }
}

.slider {

  @include breakpoint( $bp5 ) {
    margin-bottom: $baseline*2;
  }
}

.thumb {
  @include border;
  @include shadow;

  background-color: #FFF;
  border-radius: $radius-base;
  padding: $baseline;
}

.green-content {
  @include shadow;
  @include border;
  text-indent: -999em;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 80px;
  height: 80px;
  background: #FFF url(images/green.png) no-repeat center center;
  z-index: 10;
  transform: rotate(15deg);
  padding: 5px;
  border-radius: 40px;


  .backgroundsize & {
    background: #FFF url(images/green-hdpi.png) no-repeat center center;
    background-size: 90px;
  }
}

.media--list {
  .is-green {
    .media__heading {
      padding-right: 100px;
    }
  }
}
