.slider {
  @extend %unstyled;

  img {
    width: 100%; // Ensure the image is full width
  }

  .owl-next,
  .owl-prev {
    position: absolute;
    top: 50%;
  }

  .owl-next {
    right: 0;
  }

  .owl-prev {
    left: 0;
  }

  .grabbing {
      cursor:url(images/grabbing.png) 8 8, move;
  }
}

.has-alert {
  .slider {
    margin-bottom: $baseline;

    @include breakpoint( $bp5 ) {
      margin-bottom: $baseline*2;
    }
  }
}

.thumb {
  @include border;
  @include shadow;

  background-color: #FFF;
  border-radius: $radius-base;
  padding: $baseline;
}
