.bx-wrapper {

  .bx-viewport {
    left: 0;
  }

  img {
    width: 100%; // Ensure the image is full width
  }

}

.thumb {
  @include border;
  @include shadow;

  border-radius: $radius-base;
  padding: $baseline;
}
