.list--inline li {
  display: block;
  float: left;
  margin-right: 0.5em;
}

.business__hours ul {
  @extend %unstyled;
}

.business__hours__time {
  font-weight: bold;
}

.instagram {
  @extend %unstyled;
}

.instagram__item {
  margin-bottom: $baseline*2;

  a {
    display: block;
    &:hover,
    &:focus {
      img {
        background-color: #F8F8F8;
      }
    }
  }
}
