.gmnoprint img,
.gm-style img {
  max-width: none;
}

.map--full {
  display: none;
  margin-bottom: -$baseline;
  height: $map-height-small;
  width: 100%;

  @include breakpoint( $bp3 ) {
    margin-bottom: -$baseline*2;
  }

  @include breakpoint( $bp5 ) {
    margin-top: $baseline*2;
  }

  @include breakpoint( $bp6 ) {
    position: absolute; // Set in mapping.js
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: $map-height-large;
    margin-top: 0;
  }
}

.view-map #resultsList {
  display: none;
}

.view-map .map--full {
  display: block;
}

.map--static {
  position: relative;

  .btn {
    position: absolute;
    bottom: $baseline;
    right: $baseline;

    @include breakpoint($bp3) {
      bottom: $baseline*2;
      right: $baseline*2;
    }
  }
}
