.menu {
  position: relative;
  z-index: 4;
  border-bottom: 0;
  margin-bottom: $baseline*2;

  @include breakpoint( $bp5 ) {
    @include boxshadow;

    margin-top: $baseline*2;
  }
}

.menu__list {
  @extend %unstyled;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    position: relative;
    z-index: 99;
    margin-left: 0;

    ul {
      height: 0;
      padding-left: 0;
      list-style: none;
    }

  }

  > li {
    @include menuhover;
    background-color: #FFF;

    > a {
      overflow: hidden;
      text-overflow: ellipsis;
      padding: $baseline*2;
    }

  }

  a {
    color: $body-copy-color;
    display: block;
    white-space: nowrap;
  }

  @include breakpoint( $bp4 ) {
    @include menuborder;
    border-bottom: 0;
    display:table;

    > li {
      border-bottom: 3px solid $brand-orange;
      display: table-cell;
      width: 2%; /* Safari 6 bug */

      ul {
        position: absolute;
        left: -9999em; // So it's still readable by screen readers
      }

      > a {
        border-left: 1px solid #DDD;
        border-left: 1px solid rgba(#000, 0.075);
        text-align: center;
      }

      &:first-child a {
        border-left: 0;
      }

      &:hover,
      &:focus {
        ul {
          left: 0;
        }
      }
    }

    .menu-item-has-children {

      > a {
        padding-right: $baseline*5;

        &:after {
          content: " ";
          height: 0;
          position: absolute;
          width: 0;
          border: 5px solid transparent;
          border-top-color: #333;
          right: $baseline*2;
          top: $baseline*3;
        }

      }

      &:hover > a:after {
        border: 5px solid transparent;
        border-bottom-color: #333;
        top: $baseline*2.5;
      }
    }

    .sub-menu {

      li {
        @include menuborder('-left');
        @include menuborder('-right');

        &:first-child {
          margin-top:3px;

          a {
            border-top: 0;
          }
        }

        &:last-child {
          @include menuborder('-bottom');
        }

        a {
          @include menuhover;
          @include menuborder('-top');

          background-color: #FFF;
          padding: $baseline $baseline*2;
        }
      }
    }

    a {
      padding: $baseline*2;
    }
  }
}
