.menu {
  @include breakpoint( $bp5 ) {
    margin-top: $baseline*2;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 2px 2px rgba(0,0,0,0.08);
  }
}

.menu__list {
  @extend %unstyled;

  margin: 0;
  padding: 0;
  width: 100%;

  li {
    position: relative;
    z-index: 99;
    margin-left: 0;

    a {
      background-color: #F8F8F8;
      &:hover,
      &:focus {
        background: #FFF;
      }
    }

    ul {
      height: 0;
      padding-left: 0;
      list-style: none;
    }

  }

  > li {

    > a {
      overflow: hidden;
      text-overflow: ellipsis;

      @include breakpoint( $bp5 ) {
        background-image: linear-gradient(to bottom, #FFF 50%, #EEE 100%);
      }
    }

  }

  a {
    color: $body-copy-color;
    padding: $baseline;
    display: block;
    white-space: nowrap;
  }

  @include breakpoint( $bp4 ) {
    display:table;
    // table-layout: fixed;
    // border-radius: 3px 0 0 3px;

    > li {
      border-left: 1px solid #CCC;
      display: table-cell;
      width: 2%; /* Safari 6 bug */

      &:first-child {
        border: 0;
      }

      ul {
        position: absolute;
        left: -9999em; // So it's still readable by screen readers
      }

      > a {
        text-align: center;
      }

      &:hover,
      &:focus {

        ul {
          left: -1px;
        }
      }
    }

    .menu-item-has-children {
      > a {
        padding-right: $baseline*5;

        &:after {
          content: "▾";
          display: block;
          position: absolute;
          right: $baseline*2;
          top: $baseline*2;
        }

      }
    }

    .sub-menu {
      border: 1px solid rgba(0,0,0,0.2);
      border-top-color: #CCC;

      a {
        padding: $baseline*2;
      }
    }

    a {
      padding: $baseline*2;
    }
  }
}
