* {
  box-sizing: border-box;
}

figure {
  margin: 0;
}

html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  background-color: $wet-asphalt;
}

html,
body {
  margin: 0;
  min-height: 100%;
  font-size: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}
