* {
  box-sizing: border-box;
}

figure {
  margin: 0;
}

body {
  background-color: $background-blue;
}

html,
body {
  margin: 0;
  min-height: 100%;
  font-size: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}
