// ===================================================
// Sidebar
// ===================================================

.sidebar {
  @include border('-top');
  @include clearfix;

  background-color: #FFF;
  position: relative;
  z-index: 2;

  @include breakpoint( $bp3 ) {
    @include border;
    @include shadow;
    border-radius: $radius-base;
    background-clip: padding-box;
  }

  @include breakpoint( $bp3 $bp4-max ) {
    margin-left: $baseline;
    margin-right: $baseline;
  }

  @include breakpoint( $bp6 ) {
    margin-top: 0;
  }

  .sidebar__section {
    @include border('-top');

    &:first-child {
      border-top: 0;
    }
  }

  .tags {
    margin: 0;
  }

}

.sidebar + .sidebar {
  @include breakpoint( $bp3 ) {
    margin-top: $baseline;
  }

  @include breakpoint( $bp5 ) {
    margin-top: $baseline*2;
  }
}


.fb_iframe_widget {
  width: 47px;
  overflow: hidden;
  margin-bottom: $baseline*1.5;
}


.widget-title {
  @include border('-bottom');

  padding: $baseline*2;
  margin: 0;
}

.widget__inner {
  @include clearfix;
  padding: $baseline*2;
}

.sidebar .widget {
  @include breakpoint( $bp3 ) {
    margin-bottom: $baseline/2;
  }

  ul {
    margin-bottom: 0;

    a {
      @include border('-bottom');
      @extend %menuhover;
      color: $body-copy-color;
      display: block;
      padding: $baseline $baseline*2;
    }

    li:last-child a {
      border-bottom: 0;

      @include breakpoint( $bp3 ) {
        @include border('-bottom');
      }
    }
  }
}

.sidebar,
.widget {
  ul {
    @extend %unstyled;
    box-shadow: none;
  }
}

.business__hours__day,
.business__hours__time {
  width: 50%;
  display: block;
  float: left;
}

.business__hours__time {
  text-align: right;
}

.footer .widget {
  color: lighten( $wet-asphalt, 50%);
  font-size: 0.875em;
  padding: $baseline*2 $baseline*2 $baseline/2 $baseline*2;

  @include breakpoint( $bp3 ) {
    padding: $baseline*2 $baseline*4 $baseline/2 $baseline*4;
  }

  @include breakpoint ( $bp5 ) {
    padding: $baseline*2 $baseline*2 $baseline/2  $baseline*2;
  }
}

.page-template-full-php .widget {
  @include breakpoint( $bp4 ) {
    padding: $baseline*2 $baseline*6 $baseline/2 $baseline*6;
  }

  @include breakpoint( $bp5 ) {
    padding: $baseline*2;
  }
}

.widget--inline {
  @include border('-top');

  @include breakpoint ( $bp5 ) {
    border-top: 0;
  }

  &:before {
    @include breakpoint( $bp5 ) {
      content: '';
      position: absolute;
      top: 0;
      left: -$baseline;
      @include border('-left');
      height: 99em;
    }
  }
}


.widget-col:last-child .widget {

  &:after {
    @include breakpoint( $bp5 ) {
      content: '';
      position: absolute;
      top: 0;
      right: -$baseline;
      @include border('-right');
      height: 99em;
    }
  }

}
