.admin-bar {
  @include breakpoint( max-width 782px ) {
    padding-top: 46px;
  }

  padding-top:32px;
}

.wrapper {
  background-color: $background-blue;
}

.footer {
  clear: both;
  background-color: $wet-asphalt;
  overflow: hidden;

  @include breakpoint( $bp3 ) {
    padding-bottom: $baseline*2;
    margin-top: $baseline;
  }

  @include breakpoint( $bp5 ) {
    padding: 0;
    margin-top: $baseline*2;
  }

  @include breakpoint( $bp6 ) {
    margin-top: $baseline*2;
  }

  a {
    color: #FFF;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

.view-map .footer {
  margin-top: $map-height-small;

  @include breakpoint( $bp6 ) {
    margin-top: 88px;
  }
}

.sidebar {
  @include border('-top');
  @include clearfix;

  background-color: #FFF;
  position: relative;
  z-index: 2;

  @include breakpoint( $bp3 ) {
    @include border;
    @include shadow;
    border-radius: $radius-base;
    background-clip: padding-box;
  }

  @include breakpoint( $bp3 $bp4-max ) {
    margin-left: $baseline;
    margin-right: $baseline;
  }

  @include breakpoint( $bp5 ) {
    margin-top: $baseline*2;
  }

  @include breakpoint( $bp6 ) {
    margin-top: 0;
  }

  .sidebar__section {
    @include border('-top');

    &:first-child {
      border-top: 0;
    }
  }

}

.sidebar + .sidebar {
  @include breakpoint( $bp5 ) {
    margin-top: $baseline*2;
  }
}
