html {
  line-height: $line-height;
}

body {
  font-family: $sans-font-family;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6,ul,ol,dl,p {
  margin: 0; // Remove all margin and padding
}

// Define contexts for adding margins back
.context__copy {

  // Add margin to bottom only
  h1,h2,h3,h4,h5,h6,ul,ol,dl,p {
    margin-bottom: $baseline*1.5;
  }

}

.title--large {
  font-size: 2.3em;
}
