$bp1: 20em; // 320px
$bp2: 30em; // 480px
$bp3: 37.5em; // 600px
$bp4: 48em; // 768px
$bp5: 56.25em; // 900px
$bp6: 68.75em; // 1100px
$bp7: 81.25em; // 1300px

$susy: (
  gutter-position: inside,
  // debug: (
  //   image: show,
  //   color: rgba(#F33, .25),
  //   output: background,
  //   toggle: top right
  // )
);
