$bp1: 20em; // 320px
$bp2: 30em; // 480px
$bp3: 37.5em; // 600px
$bp4: 48em; // 768px
$bp5: 56.25em; // 900px
$bp6: 68.75em; // 1100px
$bp7: 81.25em; // 1300px

$bp5-max: 68.6875em; // 1099px

$middle: $bp3 $bp5-max;
$affix: (min-height 687px) $bp6;

$max-width: $bp6;
$grid-gutter-width: $baseline*2;
$grid-columns: 12;
