$bp1: 20em; // 320px
$bp2: 30em; // 480px
$bp3: 37.5em; // 600px
$bp4: 48em; // 768px
$bp5: 56.25em; // 900px
$bp6: 68.75em; // 1100px
$bp7: 81.25em; // 1300px

$max-width: 1100px;
$grid-gutter-width: $baseline*2;
$grid-columns: 12;
