// ===================================================
// Helper mixins
// ===================================================

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin menuhover {
  &:hover,
  &:focus {
    background: lighten($brand-orange, 40%);
  }
}

@mixin boxshadow {
  box-shadow: 0 2px 2px rgba(0,0,0,0.08);
}

@mixin menuborder($pos: '') {
  border#{$pos}: 1px solid #EEE;
  border#{$pos}: 1px solid rgba(#000 ,0.15);
}

// The SASS mixin takes two variable that match the content dimensions
@mixin intrinsic-ratio( $width, $height ) {
  padding-bottom: percentage( $height / $width );
  position: relative;
  height: 0;
}

@mixin inline-text-padding($bg: $brand-orange, $outline-width: $outline-width ) {
  outline: $outline-width solid $bg;
  display: inline;

  > span {
    background-color: $bg;
  }
}

%overlay--primary {
  @include inline-text-padding;
  color: #FFF;
}

%overlay--secondary {
  background-color: #000;
  background-color: rgba(0,0,0,0.75);
  color: #FFF;
}

%overlay--position {
  display: block;
  float: left;
  position: relative;
  z-index: 3;
}
