// ===================================================
// Helper mixins
// ===================================================

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin menuhover {
  &:hover,
  &:focus {
    background: lighten($brand-orange, 40%);
  }
}

@mixin boxshadow {
  box-shadow: 0 2px 2px rgba(0,0,0,0.08);
}

@mixin menuborder($pos: '') {
  border#{$pos}: 1px solid #EEE;
  border#{$pos}: 1px solid rgba(#000 ,0.15);
}
